# Notes
* This works best in a notebook environment
* The styling is accomplished using CSS
* DataFrame only (use Series.to_frame().style)
* The index and columns must be unique
* Intended for summary DataFrames
* Only style the values, not the index or columns
* Features will likely be added and possibly breaking changes in future releases
* Some support is available for exporting styled DataFrames to Excel worksheets using the OpenPyXL or XlsxWriter engines

# Documentation

In [14]:
from IPython.display import IFrame
documentation = IFrame(src='https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html', 
                       width=1000, 
                       height=450)
display(documentation)

# Imports

In [15]:
import pandas as pd
import numpy as np
# OpenPyXL or XlsxWriter
import openpyxl
import xlsxwriter

# DataFrame

In [16]:
df = pd.DataFrame({'A': [1,-2,3,-4,5,-6,7,-8,9,-10],
                   'B': np.random.rand(10),
                   'C': np.arange(10),
                   'D': [-5,np.nan,5,np.nan,-5,5,-5,np.nan,np.nan,5]})
df

    A         B  C    D
0   1  0.552914  0 -5.0
1  -2  0.939785  1  NaN
2   3  0.299051  2  5.0
3  -4  0.866127  3  NaN
4   5  0.690755  4 -5.0
5  -6  0.894250  5  5.0
6   7  0.190302  6 -5.0
7  -8  0.549126  7  NaN
8   9  0.631552  8  NaN
9 -10  0.700399  9  5.0

# Format Numbers

In [17]:
# use a dictionary to format specific columns
df.style.format({'B': '{:.2f}'})

In [18]:
# apply format to whole dataframe
df.applymap(lambda x: '{:.2f}'.format(x))

        A     B     C      D
0    1.00  0.55  0.00  -5.00
1   -2.00  0.94  1.00    nan
2    3.00  0.30  2.00   5.00
3   -4.00  0.87  3.00    nan
4    5.00  0.69  4.00  -5.00
5   -6.00  0.89  5.00   5.00
6    7.00  0.19  6.00  -5.00
7   -8.00  0.55  7.00    nan
8    9.00  0.63  8.00    nan
9  -10.00  0.70  9.00   5.00

# Format Table

In [19]:
df.style.set_properties(**{'background-color': 'beige',
                           'color': 'blue',
                           'border-color': 'black',
                           'border-width': '1px',
                           'border-style': 'solid'})

# Highlight Specific Number

In [20]:
def highlight_number(number):
    criteria = number == 7
    # print(['background-color: yellow' if i else '' for i in criteria])
    return ['background-color: yellow' if i else '' for i in criteria]

df.style.apply(highlight_number)

# Make Negative Numbers Red

In [21]:
# red if negative
def color_negative_red(number):
    # returns a string with the css property 'color: red' for negative strings, black otherwise
    color = 'red' if number < 0 else 'black'
    return f'color: {color}'

# looks at each value to find negative numbers
df.style.applymap(color_negative_red)

# Highlight NAN

In [22]:
df.style.highlight_null(null_color='red')

# Size Bars

In [23]:
# size of bar corresponds to number in cell
highlight = df.style.bar(subset=['A', 'B', 'C'], color='yellow')

# to html with style
html = highlight.render()
with open('highlight.html', 'w') as f:
    f.write(html)

highlight

# To Excel and Maintain Formatting

In [24]:
(df.style
   .highlight_max(axis=0)
   .highlight_null(null_color='red')
   .applymap(color_negative_red)
   .to_excel('styled.xlsx', engine='openpyxl'))

# Highlight Max and Min

In [25]:
# highlight max
# 0 = down the rows for each column
# 1 = across the columns for each row
df.style.highlight_max(axis=0)

In [26]:
# highlight min
df.style.highlight_min(axis=0)

# Heatmap Example

In [27]:
from vega_datasets import data as vds
cars = vds.cars()
heatmap = cars.corr().style.background_gradient(cmap='coolwarm')

# to html with style
html = heatmap.render()
with open('heatmap.html', 'w') as f:
    f.write(html)

heatmap